<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <properties resource="database.config"/>
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  <providers resource="providers.config"/>
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="moLink" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=30; min pool size=1; max pool size=50" />
  </database>
  <sqlMaps>
    <sqlMap resource="Maps/dll.xml" />
    <!--xtm-->
    <sqlMap resource="Maps/Xtm/XtmConfig.xml" />
    <sqlMap resource="Maps/Xtm/XtmDepart.xml" />
    <sqlMap resource="Maps/Xtm/XtmMenu.xml" />
    <sqlMap resource="Maps/Xtm/XtmMenuPri.xml" />
    <sqlMap resource="Maps/Xtm/XtmUser.xml" />
    <sqlMap resource="Maps/Xtm/XtmUserPri.xml" />
    <!--yw-->
    <sqlMap resource="Maps/Yw/YwCyh.xml" />
    <sqlMap resource="Maps/Yw/YwData.xml" />
    <sqlMap resource="Maps/Yw/YwSpec.xml" />
    <sqlMap resource="Maps/Yw/YwAttach.xml" />
    <sqlMap resource="Maps/Yw/YwAnlay.xml" />
    <sqlMap resource="Maps/Yw/YwAnlayTemp.xml" />
    <sqlMap resource="Maps/Yw/YwTxjs.xml" />
  </sqlMaps>
</sqlMapConfig>