<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--手续费类型-->
    <add key="Sxflx" value="家用车外主体竞回（有保车损）（平安）,家用车外主体竞回（有保车损）（平安）|家用车外主体竞回（有保车损）（非平安）,家用车外主体竞回（有保车损）（非平安）|家用车,家用车|非营业客车或工具车,非营业客车或工具车|企业非营业货车或非营业特种车,企业非营业货车或非营业特种车|个人非营业货车,个人非营业货车|营业车、营业特种车,营业车、营业特种车"/>
    <!--渠道-->
    <add key="Qd" value="电销,电销|直销,直销"/>
    <!--险种-->
    <add key="Xz" value="商业险,商业险|交强险,交强险"/>
    <!--车辆类型-->
    <add key="Cllx" value="家庭自用车,家庭自用车|非营业货车,非营业货车|非营业客车,非营业客车|个人工具车,个人工具车|营业车,营业车"/>
    <!--业务来源-->
    <add key="Ywly" value="续保,续保|新保,新保|转入,转入|过户,过户|竞回,竞回"/>

    <!--三者险保额-->
    <add key="Szxbf" value="0,无|500000,五十万|1000000,一百万"/>
    
    <!--年限-->
    <add key="NxConfig" value="0,0|1,1|2,2|3及以上,3及以上"/>

    <!--综合出险次数-->
    <add key="Cxcs" value="0,0|1,1|2,2|3,3|4及以上,4及以上"/>
    
    <!--图片格式后缀-->
    <add key="Pic" value="BMP|JPG|JPEG|PNG|GIF"/>
    <add key="appType" value="web" />
    <add key="IV_64" value="56781234" />
    <add key="KEY_64" value="1234abce" />
    <add key="waitTime" value="20" />
    <add key="startTime" value="4" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="InProc" timeout="20"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
